@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
* {
    font-family: 'Zilla Slab', serif;
}

body {
    background-color: rgb(19, 19, 19);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: 30px 100px;
    background: rgb(27, 27, 27);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: .3s;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 80px;
    font-weight: 800;
}


